body{
  background-color: #f2f3f7;
}

br {
  line-height: 10%;
}

.cv{
  margin-top: 1em;
  margin-left: 25em;
  margin-right: 25em;
  margin-bottom: 0em;
  text-align: justify;  
  padding: 1em 1em;
  font-weight: 200;
}
.cv .post{
  display: block;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  margin-left: 10px;
  position: relative;
}

.post::before {
  /* Insert the bullet point before each post */
  content: " ";
  position: absolute;
  left: -15px; /* Adjust as needed for positioning */
  color: #ddd; /* Faint grey color */
  font-size: 20px; /* Adjust the size as needed */
  line-height: 1; /* Ensure proper vertical alignment */
}

.post:first-child {
  /* Remove the line for the first post */
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}


header .topnav{
  width: 100%;
  /*background-color: rgba(0,0,0,.2);*/
}

header .topnav ul{
  text-align: center;
}

header .topnav ul li{
  list-style: none;
  display: inline-block;
}

header .topnav ul li a{
  display: block;
  text-decoration: none;
  /*text-transform: lowercase;*/
  color: black ;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 25px;
  transition: all ease 0.5s;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
  color: aliceblue;
}

h2,h3,h4,h5,h6{
  margin-bottom: 0.5px;
  padding-bottom: 0px;
}

hr { margin: 0.1em auto; }

#menu-bar{
  display: none;
}

header label{
  padding: 10px;
  /*text-transform: uppercase;*/
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  color:white;
  cursor: pointer;
  display: none;
}

.cv ul li{
  list-style-type: none;
}

a, a:visited {
  color: rgb(45, 157, 255);
  /*text-decoration: none;*/
}

a:hover {
  color: rgb(195, 0, 255);
}

dd {
  /*display: list-item;
  /*list-style-type: "";*/
  padding-inline-start: 1ch;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20em;
  height: 20em;
  object-fit: cover;
  background-position: center;
  border-radius: 0%;
  padding: 0em 2em;
}

.image {
  flex-basis: 40%;
  text-align: center;
}

.contents{
  margin-left: 20em;
  margin-right: 20em;
  color:#222222;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 18px;
}

.contents h1,h2,h3{
  text-align: justify;
}

.contents p{
  text-align: justify;
}

.cv .contacts{
  text-align: center; 
  /*color: gray;*/
}

.cv .contacts a, a:visited{
  text-decoration: none;
  color: inherit;
}

#menu-bar{
  display: none;
}


@media only screen and (min-width: 1440px){
  .cv{
    margin-left: 20em;
    margin-right: 20em;
    text-align: justify;  
   height: 60em;
  }
}

@media only screen and (max-width: 1280px){
  .contents{
    margin-left: 20em;
    margin-right: 20em;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
  }
  
}

@media only screen  and (max-width: 1100px){
  .contents{
    margin-left: 10em;
    margin-right: 10em;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
  }

  .contents .contacts{
   align-content: center;
  }
}

@media only screen  and (max-width: 1024px){

  h1,h2,h3,h4,h5,h6{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
  .cv{
    margin-top: 2em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    text-align: justify;  
   height: 60em;
  }

}

@media screen and (max-width: 930px) {
  .contents{
    margin-left: 10em;
    margin-right: 10em;
    font-size: inherit;
  }

  .contents .contacts {
  align-content: center;
  }

  .cv{
    margin-left: 10em;
    margin-right: 10em;
    font-size: inherit;
  }
}

@media only screen  and (max-width: 830px ){
  .contents{
    margin-left: 10em;
    margin-right: 10em;
   } 

   .cv{
    margin-left: 10em;
    margin-right: 10em;
   }
}

@media screen and (max-width: 550px){
  .contents{
    margin-left: 5em;
    margin-right: 5em;
    font-size: medium;
  }

  .cv{
    margin-left: 5em;
    margin-right: 5em;
    font-size: medium;
  }

  header .topnav ul li a{
    margin-left: 0em;
    margin-bottom: 1em;
    display: block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: black;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }
 

}

@media only screen  and (max-width: 480px ){

  header .topnav ul{
    text-align: left;
  }

  header .topnav ul li a{
    margin-top: 1em;
    margin-left: 0em;
    display: block;
    text-decoration: none;
   /*text-transform: uppercase;*/
    color: black;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }  

  header label{
    padding: 10px;
    /*text-transform: uppercase;*/
    font-size: 15px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    color:white;
    cursor: pointer;
    display: none;
  }

  .cv{
    border: none;
    margin-top: 0em;
    margin-left:3em;
    margin-right: 3em;
    font-size: small;
  }

  .cv .post{
    display: block;
  }

  .contents{
    margin-left: 5em;
    margin-right: 5em;
    font-size: small;
  }

  .contents  .contacts p{
    margin-left: 3em;
    margin-right: 3em;
  } 


}

@media only screen  and (max-width: 375px ){

  header .topnav ul{
    text-align: center;
  } 

  header .topnav ul li a{
    margin-left: 0em;
    margin-bottom: 1em;
    display: block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: black;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }

  .cv{
    margin-top: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 2em;
    text-align: justify;  
   border: none;
   height: 45em;
   clear: auto; 
  }

  .cv .post{
    display: block;
    margin-bottom: 0.5em;
  }

  ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
  } 

  .contents{
    margin-left: 2em;
    margin-right: 2em;
   }
 
}

@media screen and (max-width: 300px) {
  header .topnav ul{
    text-align: center;
  } 

  header .topnav ul li a{
    margin-left: 0em;
    margin-bottom: 1em;
    display: block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: black;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }

  .contents{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
}
