* {box-sizing: border-box}
a:link {
	color: rgb(250, 230, 54);
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: rgb(140, 0, 255);
	background-color: transparent;
	text-decoration: underline;
  }
  
/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 20em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 8em;
  /*overflow-y: scroll;
  height: 45em;*/
}
.heading{
  text-align: center;
}

.img-grid{
--gap:16px;
--num-cols:3;
--row-height: 300px;

box-sizing: border-box;
padding: var(--gap);

display: grid;
grid-template-columns: repeat(var(--num-cols), 0.75fr);
grid-auto-rows: var(--row-height);
gap: var(--gap);
}
/* Make the image to responsive */
img.animated-gif{
  width: 15em;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  top: 1em;
  left: 0em;
  bottom: 1em; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.616); /* Black see-through */
  color: #f1f1f1; 
  width: 12em;
  height: 23em;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.2em;
  padding: 1.25em;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 5;
}

  @media only screen  and (max-width: 1024px){
    *{
      margin:0;
      padding: 0;
      font-size: small;
    }
    
	* {box-sizing: border-box}

	/* Container needed to position the overlay. Adjust the width as needed */
	.container {
    
    /*opacity: 1 !important;*/

	  position: relative;
	  width: 100%;
	  max-width: 18.75em;
	  margin-top: 0em;
	  margin-bottom: 0em;
	  margin-left: 2em;
	}
	
  .img-grid{
    --gap:0.2em;
    --num-cols:2;
    --row-height: 17em;
    
    box-sizing: border-box;
    padding: var(--gap);
    
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 0.75fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
    
	/* Make the image to responsive */
  img.animated-gif{
    width: 15em;
    height: auto;
  }
	
	/* The overlay effect - lays on top of the container and over the image */
	.overlay {
	  position: absolute; 
	  
	  left: 0.5em;
	  bottom: 2em; 
	  background: rgb(0, 0, 0);
	  background: rgba(0, 0, 0, 0.616); /* Black see-through */
	  color: #f1f1f1; 
	  width: 14em;
	  height: 23em;
	  transition: .5s ease;
	  opacity:0;
	  color: white;
	  font-size: 1.2em;
	  padding: 1em;
	  text-align: center;
	}
	
	/* When you mouse over the container, fade in the overlay title */
	.container:hover .overlay {
	  opacity: 5;
	}

  .top {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    }

    .nav_contents{
      margin-left: 1em;
    }
    
    /* Add a black background color to the top navigation */
    .topnav {
        /*FOR LIGHT MODE*/
        background-color:#332064;
        /*FOR DARK MODE
        background-color: #f2f2f2;*/
        overflow: hidden;
        padding: 1em;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: none;
        /*FOR DARK MODE
        color: #333;*/
    
        /*FOR LIGHT MODE*/
        color: #f2f2f2;
        text-align: center;
        padding: 1em 1em 1em 0em;
        text-decoration: none;
        font-size: 1.0625em;
       
      }


  }

 @media only screen and (max-width: 800px){
  *{
    margin:0;
    padding: 0;
    font-size: small;
  }
  
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  
  /*opacity: 1 !important;*/

  position: relative;
  width: 100%;
  max-width: 18.75em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 2em;
}

.img-grid{
  --gap:0.2em;
  --num-cols:2;
  --row-height: 30em;
  
  box-sizing: border-box;
  padding: var(--gap);
  
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 0.75fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}
  
/* Make the image to responsive */
.img.animated-gif {
  width: 12em;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  
  left: 0.5em;
  bottom: 2em; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.616); /* Black see-through */
  color: #f1f1f1; 
  width: 12em;
  height: 23em;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 5;
}

.top {
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  }

  .nav_contents{
    margin-left: 1em;
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      /*FOR LIGHT MODE*/
      background-color:#332064;
      /*FOR DARK MODE
      background-color: #f2f2f2;*/
      overflow: hidden;
      padding: 1em;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: none;
      /*FOR DARK MODE
      color: #333;*/
  
      /*FOR LIGHT MODE*/
      color: #f2f2f2;
      text-align: center;
      padding: 1em 1em 1em 0em;
      text-decoration: none;
      font-size: 1.0625em;
     
    }


 }

 @media only screen and (max-width: 600px){
  *{
		margin:0;
		padding: 0;
		font-size: small;
	  }
	  
	  * {box-sizing: border-box}
  
	  /* Container needed to position the overlay. Adjust the width as needed */
	  .container {
		position: relative;
		width: 100%;
		max-width: 18.75em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 2em;
	  }

    .img-grid{
      --gap:10px;
      --num-cols:2;
      --row-height: 22em;
      
      box-sizing: border-box;
      padding: var(--gap);
      
      display: grid;
      grid-template-columns: repeat(var(--num-cols), 0.75fr);
      grid-auto-rows: var(--row-height);
      gap: var(--gap);
    }
    
	  /* Make the image to responsive */
	  .img.animated-gif {
		width: 15em;
		height: auto;
	  }
	  
	  /* The overlay effect - lays on top of the container and over the image */
	  .overlay {
		position: absolute; 
		
		left: 0.5em;
		bottom: 0;
    top: 0em; 
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.616); /* Black see-through */
		color: #f1f1f1; 
		width: 12em;
		height: 23em;
		transition: .5s ease;
		opacity:0;
		color: white;
		font-size: 1.2em;
		padding: 1.25em;
		text-align: center;
	  }
	  
	  /* When you mouse over the container, fade in the overlay title */
	  .container:hover .overlay {
		opacity: 5;
	  }
  
	.top {
	  margin-top: 1em;
	  margin-left: 2em;
	  margin-right: 2em;
	  margin-bottom: 2em;
	  }
  
	  .nav_contents{
		margin-left: 1em;
	  }
	  
	  /* Add a black background color to the top navigation */
	  .topnav {
		  /*FOR LIGHT MODE*/
		  background-color:#332064;
		  /*FOR DARK MODE
		  background-color: #f2f2f2;*/
		  overflow: hidden;
		  padding: 1em;
		}
		
		/* Style the links inside the navigation bar */
		.topnav a {
		  float: none;
		  /*FOR DARK MODE
		  color: #333;*/
	  
		  /*FOR LIGHT MODE*/
		  color: #f2f2f2;
		  text-align: center;
		  padding: 1em 1em 1em 0em;
		  text-decoration: none;
		  font-size: 1.0625em;
		 
		}
   
 }
  
     
  @media only screen and (max-width: 414px){
	*{
		margin:0;
		padding: 0;
		font-size: small;
	  }
	  
	  * {box-sizing: border-box}
  
	  /* Container needed to position the overlay. Adjust the width as needed */
	  .container {
		position: relative;
		width: 100%;
		max-width: 18.75em;
		margin-top: 1em;
		margin-bottom: 4em;
		margin-left: 4em;
	  }

    .img-grid{
      --gap:16px;
      --num-cols:1;
      --row-height: 28em;
      
      box-sizing: border-box;
      padding: var(--gap);
      
      display: grid;
      grid-template-columns: repeat(var(--num-cols), 0.75fr);
      grid-auto-rows: var(--row-height);
      gap: var(--gap);
    }
    
	  /* Make the image to responsive */
	  img.animated-gif {
		width: 15em;
		height: auto;
	  }
	  
	  /* The overlay effect - lays on top of the container and over the image */
	  .overlay {
		position: absolute; 
		
		left: 0.5em;
		bottom: 0;
    top: 0em; 
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.616); /* Black see-through */
		color: #f1f1f1; 
		width: 13em;
		height: 24em;
		transition: .5s ease;
		opacity:0;
		color: white;
		font-size: 1.2em;
		padding: 1.25em;
		text-align: center;
	  }
	  
	  /* When you mouse over the container, fade in the overlay title */
	  .container:hover .overlay {
		opacity: 1;
	  }
  
	.top {
	  margin-top: 1em;
	  margin-left: 2em;
	  margin-right: 2em;
	  margin-bottom: 2em;
	  }
  
	  .nav_contents{
		margin-left: 1em;
	  }
	  
	  /* Add a black background color to the top navigation */
	  .topnav {
		  /*FOR LIGHT MODE*/
		  background-color:#332064;
		  /*FOR DARK MODE
		  background-color: #f2f2f2;*/
		  overflow: hidden;
		  padding: 1em;
		}
		
		/* Style the links inside the navigation bar */
		.topnav a {
		  float: none;
		  /*FOR DARK MODE
		  color: #333;*/
	  
		  /*FOR LIGHT MODE*/
		  color: #f2f2f2;
		  text-align: center;
		  padding: 1em 1em 1em 0em;
		  text-decoration: none;
		  font-size: 1.0625em;
		 
		}
   
  }

  @media only screen  and (max-width: 375px ){
    *{
      margin:0;
      padding: 0;
      font-size: small;
    }
    
    * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
  max-width: 18.75em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  margin-left: 1em;
}

.img-grid{
  --gap:10px;
  --num-cols:2;
  --row-height: 9.9em;
  
  box-sizing: border-box;
  padding: var(--gap);
  
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 0.75fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

/* Make the image to responsive */
img.animated-gif {
  width: 10em;
  height: auto;
  bottom:1em;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute; 
  
  left: 0.5em;
  top: 0.2em;
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.616); /* Black see-through */
  color: #f1f1f1; 
  width: 8em;
  height: 16em;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 1.15em;
  padding: 1.25em;
  text-align:start;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {

  opacity: 1;
}
    
  .top {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    }
 
    

    .nav_contents{
      margin-left: 1em;
    }
    
    /* Add a black background color to the top navigation */
    .topnav {
      overflow: hidden;
      padding: 1em;
      /*FOR LIGHT MODE*/
      background-color:#332064;

      /*FOR DARK MODE
       background-color: #f2f2f2;*/
       
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: none;
        text-align: center;
        padding: 1em 1em 1em 0em;
        text-decoration: none;
        font-size: 1.0625em;

        /*FOR DARK MODE
        color: #333;*/
    
        /*FOR LIGHT MODE*/
        color: #f2f2f2;
        
       
      }


  }

