.body{
  background-color: #f2f3f7;
}

header .topnav{
  width: 100%;
  /*background-color: rgba(0,0,0,.2);*/
}


header .topnav ul{
  text-align: center;
}

header .topnav ul li{
  list-style: none;
  display: inline-block;
}

header .topnav ul li a{
  display: block;
  text-decoration: none;
  /*text-transform: lowercase;*/
  color: black ;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 25px;
  transition: all ease 0.5s;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
  color: aliceblue;
}

hr { margin: 0.1em auto; }

#menu-bar{
  display: none;
}

header label{
  padding: 10px;
  /*text-transform: uppercase;
  font-size: 20px;*/
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  color:white;
  cursor: pointer;
  display: none;
}

.write{
  margin-top: 1em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 3em;
  text-align: justify;  
  padding: 1em 1em 3em ;
  height: 45em;
 align-items: center;
}

.write h3{
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-align: center;
}

.write ul, li{
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  text-align: center;
}

.write ul a{
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  list-style-type: none;
  font-weight: 200;
}

a, a:visited{
  text-decoration: underline;
  color: inherit;

}

@media only screen  and (max-width: 1024px){
  

}

@media only screen  and (max-width: 600px ){
 
  .write{
    margin-left: 3em;
    margin-right: 3em;
  }

}

@media only screen  and (max-width: 480px ){
  header .topnav ul li a:hover{
    background-color: #211b4385;
    color: aliceblue;
  }
  
  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
   /*text-transform: uppercase;*/
    color: white;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }
  
  header .topnav{
    position: absolute;
    /*top: 100%;*/ left: 0; right: 0;
    background-color: #41464b;
    border-top: 1px solid grey;
    display: none;
  }
  
  header .topnav ul{
    margin-left: 0em;
    text-align: center;
  }
  
  header .topnav ul li{
    width: 100%;
  }
  
  header label{
    text-align: center;
    display: block;
   /* display: initial;*/
    background-color: #41464b; 
    margin-left: 0em;
  }
  
  #menu-bar:checked ~ .topnav{
    display: initial ; 
  }

  .write{
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.5em;
  }

  .write h3{
    font-size: 1.5em;
  }

  


}

@media only screen  and (max-width: 375px ){

header .topnav ul li a:hover{
  background-color: #211b4385;
}

header .topnav ul li a{
  margin-left: 0em;
  display: block;
  text-decoration: none;
  /*text-transform: uppercase;*/
  color: white;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 8px;
  transition: all ease 0.5s;
}

header .topnav{
  position: absolute;
  /*top: 100%;*/ left: 0; right: 0;
  background-color: #41464b;
  border-top: 1px solid grey;
  display: none;
}

header .topnav ul{
  margin-left: 0em;
  text-align: center;
}

header .topnav ul li{
  width: 100%;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
}

header label{
  text-align: center;
  display: block;
 /* display: initial;*/
  background-color: #41464b; 
  margin-left: 0em;
}

#menu-bar:checked ~ .topnav{
  display: initial ; 
} 

.write{
  margin-left: 1em;
  margin-right: 2em;
  line-height: 1.5em;
}

.write h3{
  font-size: 1.5em;
}

.write ul{
  margin-left: 0em;
}

}



@media  screen and (max-width: 300px) {
  
  .write h3{
    font-size: 1em;
  }

  .write ul{
    margin-top: 0.5em;
  }

  .write ul a{
    font-size: 1e;
  }

}
