.cv{
    margin-top: 2em;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 3em;
    text-align: justify;  
    border-style: solid;
    border-width: medium;
    border-color: grey;
   padding: 1em 1em 3em ;
   background-color: rgb(240, 240, 240);
  
  }
  h1,h2,h3,h4,h5,h6{
    margin-bottom: 0.5px;
    padding-bottom: 0px;
}

hr { margin: 0.1em auto; }

  a:link {
    color: rgb(54, 90, 250);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(140, 0, 255);
    background-color: transparent;
    text-decoration: underline;
  }
  

  @media only screen  and (max-width: 1024px){
    *{
      margin:0;
      padding: 0;
      font-size: small;
    }
    
  .top {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    }
    h1,h2,h3,h4,h5,h6{
      margin-bottom: 0px;
      padding-bottom: 0px;
  }
    .cv{
      margin-top: 2em;
      margin-left: 4em;
      margin-right: 4em;
      margin-bottom: 2em;
      text-align: justify;  
     background-color: rgb(240, 240, 240);
    }
    

    .nav_contents{
      margin-left: 1em;
    }
    
    /* Add a black background color to the top navigation */
    .topnav {
        /*FOR LIGHT MODE*/
        background-color:#332064;
        /*FOR DARK MODE
        background-color: #f2f2f2;*/
        overflow: hidden;
        padding: 1em;
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: none;
        /*FOR DARK MODE
        color: #333;*/
    
        /*FOR LIGHT MODE*/
        color: #f2f2f2;
        text-align: center;
        padding: 1em 1em 1em 0em;
        text-decoration: none;
        font-size: 1.0625em;
       
      }


  }

  @media only screen  and (max-width: 375px ){
    *{
      margin:0;
      padding: 0;
      font-size: small;
    }
    
    h1,h2,h3,h4,h5,h6{
      margin-bottom: 0px;
      padding-bottom: 0px;
  }
    
  .top {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    }
 .cv{
      margin-top: 2em;
      margin-left: 2em;
      margin-right: 2em;
      margin-bottom: 2em;
      text-align: justify;  
     background-color: rgb(240, 240, 240);
     border: none;
 }
   

    .nav_contents{
      margin-left: 1em;
    }
    
    /* Add a black background color to the top navigation */
    .topnav {
      overflow: hidden;
      padding: 1em;
      /*FOR LIGHT MODE*/
      background-color:#332064;

      /*FOR DARK MODE
       background-color: #f2f2f2;*/
       
      }
      
      /* Style the links inside the navigation bar */
      .topnav a {
        float: none;
        text-align: center;
        padding: 1em 1em 1em 0em;
        text-decoration: none;
        font-size: 1.0625em;

        /*FOR DARK MODE
        color: #333;*/
    
        /*FOR LIGHT MODE*/
        color: #f2f2f2;
        
       
      }


  }

