.body{
  background-color: #f2f3f7;;
}

header .topnav{
  width: 100%;
  background-color: rgba(0,0,0,.2) ;
}

header .topnav ul{
  text-align: center;
}

header .topnav ul li{
  list-style: none;
  display: inline-block;
}

header .topnav ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black ;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
}

hr { margin: 0.1em auto; }

.cards{
  margin: 5%;
  width: 80%;
 /* height: 40px;*/
  background-color: white ;
  border-radius: 1em;
  box-shadow: 9px 9px 40px #bfbfbf;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.row{
  display: flex;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 200px;
  height:auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.cards-info{
  padding: 1em;
  padding-bottom: 1em;
}

.cards-info >h1{
  text-align: center;
  font-size: 1.2em;
  line-height: 120%;
  margin-bottom: 0.5em;
  color:#222222;
}

.cards-info >p{
  font-size: 1em;
  color: #22222299;
  text-align: justify;
  line-height: 130%;
  margin-top: 0.5em;
}

#menu-bar{
  display: none;
}

header label{
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color:white;
  cursor: pointer;
  display: none;
}

@media only screen  and (max-width: 1024px){
  *{
    margin:0;
    padding: 0;
    font-size: small;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

}

@media only screen  and (max-width: 600px ){
  .container{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 150px;
    height:auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }

}

@media only screen  and (max-width: 480px ){
  header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  .container{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: 150px;
    height:auto;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }

  header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 8px;
    transition: all ease 0.5s;
  }
  
  header .topnav{
    position: absolute;
    /*top: 100%;*/ left: 0; right: 0;
    background-color: #41464b;
    border-top: 1px solid grey;
    display: none;
  }
  
  header .topnav ul{
    margin-left: 0em;
    text-align: center;
  }
  
  header .topnav ul li{
    width: 100%;
  }
  
  header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  header label{
    text-align: center;
    display: block;
   /* display: initial;*/
    background-color: #41464b; 
    margin-left: 0em;
  }
  
  #menu-bar:checked ~ .topnav{
    display: initial ; 
  }

}


@media only screen  and (max-width: 375px ){
  *{
    margin:0;
    padding: 0;
    font-size: small;
  }

  .float-right{
    float: none;
  }

 br{
   display: none;
 }

 .container{
  display: grid;
  grid-template-columns: auto auto;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 150px;
  height:auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}


header .topnav ul li a:hover{
  background-color: #211b4385;
}

header .topnav ul li a{
  margin-left: 0em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8px;
  transition: all ease 0.5s;
}

header .topnav{
  position: absolute;
  /*top: 100%;*/ left: 0; right: 0;
  background-color: #41464b;
  border-top: 1px solid grey;
  display: none;
}

header .topnav ul{
  margin-left: 0em;
  text-align: center;
}

header .topnav ul li{
  width: 100%;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
}

header label{
  text-align: center;
  display: block;
 /* display: initial;*/
  background-color: #41464b; 
  margin-left: 0em;
}

#menu-bar:checked ~ .topnav{
  display: initial ; 
}

 ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
 }
 
}

@media  screen and (max-width: 300px) {
  .container{
    display: grid;
    grid-template-columns: auto;
  }
}
