/*body{
    background-color: #000000;
}*/
.contents {
    /*background-color: #323232;
    color: #ffffff;

    /*put picture and text side by side*
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 50px 100px;*/
    /*use grid instead of padding*/

    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "image about contacts";
   


}
.content {
    /*background-color: #323232;
    color: #ffffff;
    /*centers the  content
    width: 500px;*/
    margin: auto;
    /*indents the content*/
    padding:50px 200px;
    border: thin solid black;
    border-radius: 10px;
    text-align: justify;
    

}
.about{
    text-align: start;

    /*indents the content
    padding:20px 25px;
    text-align: justify;*/

    
    /* FOR DARK MODE
    background-color: #323232;
    color: #ffffff;*/
}
.top {
padding: 50px 200px;
}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    background-position: center;
    border-radius: 100%;
    padding: 25px 25px;

}

.image {
flex-basis: 40%;
}

* {
  font-family: 'Arvo', serif;
/*font-size: large;*/
}

li {
list-style: circle ;
}

/* Add a black background color to the top navigation */
.topnav {
    /*FOR LIGHT MODE*/
    background-color: #333;
    /*FOR DARK MODE
    background-color: #f2f2f2;*/
    overflow: hidden;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    /*FOR DARK MODE
    color: #333;*/

    /*FOR LIGHT MODE*/
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    /* FOR LIGHT MODE*/
    background-color: #ddd;
    color: black;

     /* FOR DARK MODE
    color: #ddd;
    background-color: black;*/
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #d4ffef;
    color: white;
  }
