.body{
  margin-bottom: 2em;
}

header .topnav{
  width: 100%;
  background-color: rgba(0,0,0,.2);
}

header .topnav ul{
  text-align: center;
}

header .topnav ul li{
  list-style: none;
  display: inline-block;
}

header .topnav ul li a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 25px;
  transition: all ease 0.5s;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
  height: 16em;
  object-fit: cover;
  background-position: center;
  border-radius: 100%;
  padding: 2em 2em;
}

.image {
  flex-basis: 40%;
}

.contents{
  margin-left: 30em;
  margin-right: 30em;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.contents h1,h2,h3{
  text-align: center;
}

.contents p{
  text-align: justify;
}

#menu-bar{
  display: none;
}

header label{
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color:white;
  cursor: pointer;
  display: none;
}

@media only screen  and (max-width: 1300px){
  .contents{
    margin-left: 20em;
    margin-right: 20em;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 930px) {
  .contents{
    margin-left: 10em;
    margin-right: 10em;
  }
}

@media only screen  and (max-width: 830px){
  header .topnav ul{
    
    margin-left: 0em;
  }

  header .topnav ul li a:hover{
    background-color: #211b4385;
  }

  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    transition: all ease 0.5s;
  }
  
 .contents{
  margin-left: 10em;
  margin-right: 10em;
 } 
}

@media screen and (max-width: 550px) {
  .contents{
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media only screen and (max-width: 480px){
  header .topnav ul{
    text-align:left;
  }


  header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 8px;
    transition: all ease 0.5s;
  }
  
  header .topnav{
    position: absolute;
    /*top: 100%;*/ left: 0; right: 0;
    background-color: #41464b;
    border-top: 1px solid grey;
    display: none;
  }
  
  header .topnav ul{
    margin-left: 0em;
    text-align: center;
  }
  
  header .topnav ul li{
    width: 100%;
  }
  
  header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  header label{
    text-align: center;
    display: block;
   /* display: initial;*/
    background-color: #41464b; 
    margin-left: 0em;
  }
  
  #menu-bar:checked ~ .topnav{
    display: initial ; 
  }
  
 .contents{
  margin-left: 2em;
  margin-right: 2em;
 }
}

@media only screen  and (max-width: 375px ){

  header .topnav{
    position: absolute;
    /*top: 100%;*/ left: 0; right: 0;
    background-color: #41464b;
    border-top: 1px solid grey;
    display: none;
  }

  header .topnav ul{
    margin-left: 0em;
    text-align: center;
  }

  header .topnav ul li{
    width: 100%;
  }

  header .topnav ul li a:hover{
    background-color: #211b4385;
  }

  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 8px;
    transition: all ease 0.5s;
  }
  
 .contents{
  margin-left: 2em;
  margin-right: 2em;
 }

 header label{
  text-align: center;
  display: block;
 /* display: initial;*/
  background-color:#41464b; 
  margin-left: 0em;
 }

 #menu-bar:checked ~ .topnav{
  display: initial ; 
 }


}

@media screen and (max-width: 300px) {
  .contents{
    margin-left: 0.5em;
    margin-right: 0em;
  }
}
