body{
  margin-bottom: 2em;
  /*background-image: url('photo/bike.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(5px)*/
  background-color: #f2f3f7;
}


header .topnav{
  width: 100%;
  /*background-color: rgba(0,0,0,.2);*/
}

header .topnav ul{
  text-align: center;
}

header .topnav ul li{
  list-style: none;
  display: inline-block;
}

header .topnav ul li a{
  display: block;
  text-decoration: none;
  /*text-transform: lowercase;*/
  color: black;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  padding: 25px;
  transition: all ease 0.5s;
}

header .topnav ul li a:hover{
  background-color: #211b4385;
  color: aliceblue;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  height: 10em;
  object-fit: cover;
  background-position: center;
  border-radius: 100%;
  padding: 0em 2em;
}

.image {
  flex-basis: 40%;
  text-align: center;
}

.contents{
  margin-left: 20em;
  margin-right: 20em;
  color:#222222;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  font-size: 18px;
}

.contents h1,h2,h3{
  text-align: center;
}

.contents p{
  text-align: center;
}

.contents  .contacts{
  margin-top: 3em;
  text-align: center; 
  /*color: gray;*/
}

.contents a, a:visited{
  text-decoration: none;
  color: inherit;
}

#menu-bar{
  display: none;
}

header label{
  padding: 10px;
  /*text-transform: uppercase;*/
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
  color:white;
  cursor: pointer;
  display: none;
}

@media only screen  and (max-width: 1100px){
  .contents{
    margin-left: 10em;
    margin-right: 10em;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
  }

  .contents .contacts{
   align-content: center;
  }
}

@media only screen and (max-width: 1280px){
  .contents{
    margin-left: 20em;
    margin-right: 20em;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 930px) {
  .contents{
    margin-left: 10em;
    margin-right: 10em;
    font-size: inherit;
  }

  .contents .contacts {
  align-content: center;
  }
}

@media only screen  and (max-width: 830px){
 
 .contents{
  margin-left: 10em;
  margin-right: 10em;
 } 
}

@media screen and (max-width: 550px) {
  .contents{
    margin-left: 5em;
    margin-right: 5em;
  }
}

@media only screen  and (max-width: 480px ){
  header .topnav ul{
    text-align: left;
  }

  .contents{
    margin-left: 5em;
    margin-right: 5em;
    font-size: small;
  }

  .contents  .contacts p{
    margin-left: 3em;
    margin-right: 3em;
  } 

  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
   /*text-transform: uppercase;*/
    color: black;
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  } 

  header label{
    padding: 10px;
    /*text-transform: uppercase;*/
    font-size: 15px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    color:white;
    cursor: pointer;
    display: none;
  }

  /*1 header .topnav ul li a:hover{
    background-color: #211b4385;
  }
  
  header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
   /* text-transform: uppercase;*/
   /* 2 color: white;
    font-size: 20px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  } 
  
  header .topnav{
    position: absolute;
    /*top: 100%;*/ /* 3 left: 0; right: 0;
    background-color: #41464b;
    border-top: 1px solid grey;
    display: none;
  }
  
  header .topnav ul{
    margin-left: 0em;
    text-align: center;
  }
  
  header .topnav ul li{
    width: 100%;
  } 

  
  header label{
    text-align: center;
    display: none;
    cursor: pointer;
    display: block; 
   /* display: initial;*/
    /*4 background-color: #41464b; 
    margin-left: 0em;
  }
  
  #menu-bar:checked ~ .topnav{
    display: initial ; 
  }


  .contents{
    margin-left: 5em;
    margin-right: 5em;
    font-size: small;
  }

  img{
    padding: 0em 0em;
  }

  .contents  .contacts p{
    margin-left: 3em;
    margin-right: 3em;
  } */

}

  

@media only screen  and (max-width: 375px ){
  header .topnav ul{
    text-align: center;
  } 

  .contents{
    margin-left: 2em;
    margin-right: 2em;
   }

   header .topnav ul li a{
    margin-left: 0em;
    display: block;
    text-decoration: none;
    /*text-transform: uppercase;*/
    color: black;
    font-size: 18px;
    font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 8px;
    transition: all ease 0.5s;
  }
  

   
  /*1 img{
    padding: 1em 1em;
   }

  .contents{
    margin-left: 2em;
    margin-right: 2em;
   }
  
  
  *{
    margin:0;
    padding: 0;
    font-size: small;
  }

  .float-right{
    float: none;
  }

 br{
   display: none;
 }

header .topnav ul li a:hover{
  background-color: #211b4385;
}

header .topnav ul li a{
  margin-left: 0em;
  display: block;
  text-decoration: none;
  /*text-transform: uppercase;*/
  /*2 color: white;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 8px;
  transition: all ease 0.5s;
}

header .topnav{
  position: absolute;
  /*top: 100%;*/ /*3 left: 0; right: 0;
  background-color: #41464b;
  border-top: 1px solid grey;
  display: none;
}

header .topnav ul{
  margin-left: 0em;
  text-align: center;
}

header .topnav ul li{
  width: 100%;
}

header label{
  text-align: center;
  display: block;
 /* display: initial;*/
  /*4 background-color: #41464b; 
  margin-left: 0em;
}

#menu-bar:checked ~ .topnav{
  display: initial ; 
}

 ul{
  list-style-type:none;
  padding: 0;
  margin: 0;
 } 5*/
 
}


@media screen and (max-width: 300px) {
  header .topnav ul{
    text-align: center;
  } 

  .contents{
    margin-left: 0.5em;
    margin-right: 0em;
  }
}
